<!DOCTYPE html>
<html lang="ru">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
  <meta charset="UTF-8">
  <title class="page-title">
    {% block title %}
    {% endblock %}
  </title>
</head>

<body>
  <ul class="nav-list">
    {% if user.is_authenticated %}
    <li class="nav-item nav-link">Привет, {{ user.email }}</li>
    <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Выход</a></li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'users:user_create' %}">Регистрация</a></li>
    {% endif %}
  </ul>
  <div class="content-container">
    {% block body %}
    {% endblock %}
  </div>
</body>

</html>